{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<main class="main-content site-wrapper-reveal">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area" data-bg-img="{% static 'assets/img/blog/ngoo.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content text-center">
              <h2 class="title text-white">Causes Details</h2>
              <div class="bread-crumbs"><a href="/">Home<span class="breadcrumb-sep">//</span></a><span class="active">Cause</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Causes Area ==-->
    <section class="causes-details-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="causes-details-column">
              <div class="causes-details-content">
                <div class="causes-details">
                  <div class="thumb">
                    <img class="w-100" src="{% if obj.mainImg %} {{obj.mainImg.url}} {% endif %}" alt="Image-Givest">
                  </div>
                  <h3 class="cause-title">{{obj.title}}</h3>
                  <div class="donate-info-wrp">
                    <div class="row">
                      <div class="col-md-6">
                        <ul class="donate-info">
                          <li class="info-item">
                            <span class="info-title">Goal:</span>
                            <span class="amount">$ 5,000</span>
                          </li>
                          <li class="info-item">
                            <span class="info-title">Raised:</span>
                            <span class="amount">$ 2,000</span>
                          </li>
                          <li class="info-item">
                            <span class="info-title">To Go:</span>
                            <span class="amount">$ 1,000</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <!-- Start Progress Item -->
                        <div class="progress-item">
                          <div class="progress-line">
                            <div class="progress-bar-line" data-percent="90%"><span class="percent"></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p>
                    {{obj.description|safe}}
                  </p>
                 
                </div>
                <div class="donners-info">
                  <h3>Great Donners</h3>
                  <div class="donners-item">
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner1.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner2.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner3.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner4.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner2.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner3.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner5.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner3.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner1.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner2.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner3.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner1.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item">
                      <img src="{% static 'assets/img/photos/donner2.png' %}" alt="Image-Givest">
                    </div>
                    <div class="donner-item donner-number">+286</div>
                  </div>
                </div>
                <div class="donation-form bgcolor-theme3">
                  <div class="section-title">
                    <h5 class="subtitle line-theme-color mb-14">Make A Donation</h5>
                    <h2 class="title text-white">Donate Now</h2>
                    <img class="line-shape" src="{% static 'assets/img/shape/line-t3.png' %}" alt="Image-Givest">
                  </div>
                  <form action="#">
                    <div class="amount-info">
                      <div class="donate-amount">$20</div>
                      <div class="donate-amount">$50</div>
                      <div class="donate-amount">$200</div>
                      <div class="donate-amount donate-custom-amount">
                        <input class="form-control" type="text" placeholder="Custom">
                      </div>
                    </div>
                    <div class="payment-method-wrp">
                      <h4>Payment Method:</h4>
                      <div class="payment-method">
                        <div class="payment-type">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Offline</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Credit Card</label>
                          </div>
                        </div>
                        <img src="{% static 'assets/img/photos/payment-card.png' %}" alt="Image-Givest">
                      </div>
                    </div>
                    <div class="personal-info">
                      <h4>Personal Info:</h4>
                      <div class="row row-gutter-20">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input class="form-control" type="text" name="con_name" placeholder="Name">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input class="form-control" type="email" name="con_email" placeholder="Email">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input class="form-control" type="text" name="con_phone" placeholder="Phone">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input class="form-control" type="text" name="con_address" placeholder="Address">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group mb-0">
                            <textarea class="form-control textarea" name="con_message" placeholder="Message"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="btn-wrp">
                      <a href="#/" class="btn-theme btn-gradient btn-slide">Donate Now <img class="icon icon-img" src="{% static 'assets/img/icons/arrow-line-right2.png' %}" alt="Icon"></a>
                      <a href="#/" class="btn-theme btn-gradient btn-border">Total Donation: $50</a>
                    </div>
                  </form>
                  <div class="layer-style">
                    <img class="layer-style1" src="{% static 'assets/img/shape/form-shape1.png' %}" alt="Image-Givest">
                    <img class="layer-style2" src="{% static 'assets/img/shape/form-shape2.png' %}" alt="Image-Givest">
                  </div>
                </div>
              </div>
              <div class="sidebar-area">
               
                <div class="widget">
                  <h3 class="widget-title">Causes Categories</h3>
                  <div class="separator-line">
                    <img class="me-1" src="{% static 'assets/img/shape/line-t2.png' %}" alt="Image-Givest">
                  </div>
                  <div class="widget-category">
                    {% for cat in categorys %}
                    <a href="causes-details.html">{{cat.category}} <span>{{cat.blog_cat.count}}</span></a>
                    {% endfor %}
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Causes Area ==-->
  </main>


{% endblock %}