{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Givest – Non Profit</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Yeseva+One:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!--== Icofont CSS ==-->
    <link href="{% static 'assets/css/icofont.css' %}" rel="stylesheet"/>
    <!--== ElegantIcons CSS ==-->
    <link href="{% static 'assets/css/elegantIcons.css' %}" rel="stylesheet"/>
    <!--== Animate CSS ==-->
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet"/>
    <!--== Aos CSS ==-->
    <link href="{% static 'assets/css/aos.css' %}" rel="stylesheet"/>
    <!--== FancyBox CSS ==-->
    <link href="{% static 'assets/css/jquery.fancybox.min.css' %}" rel="stylesheet"/>
    <!--== Slicknav CSS ==-->
    <link href="{% static 'assets/css/slicknav.css' %}" rel="stylesheet"/>
    <!--== Swiper CSS ==-->
    <link href="{% static 'assets/css/swiper.min.css' %}" rel="stylesheet"/>
    <!--== Main Style CSS ==-->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <!-- jquery CDN -->/
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

<!--wrapper start-->
<div class="wrapper home-default-wrapper">

  <!--== Start Preloader Content ==-->
  <div class="preloader-wrap">
    <div class="preloader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!--== End Preloader Content ==-->

  <!--== Start Header Wrapper ==-->
    {% include 'main/header.html' %}
  <!--== End Header Wrapper ==-->
  

  {% block content %}
  {% endblock content %}



{% include 'main/footer.html' %}
<!--=======================Javascript============================-->

<!--=== Modernizr Min Js ===-->
<script src="{% static 'assets/js/modernizr.js' %}"></script>
<!--=== jQuery Min Js ===-->
<script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="{% static 'assets/js/jquery-migrate.js' %}"></script>
<!--=== Popper Min Js ===-->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!--=== jquery Appear Js ===-->
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<!--=== jquery Swiper Min Js ===-->
<script src="{% static 'assets/js/swiper.min.js' %}"></script>
<!--=== jquery Fancybox Min Js ===-->
<script src="{% static 'assets/js/fancybox.min.js' %}"></script>
<!--=== jquery Aos Min Js ===-->
<script src="{% static 'assets/js/aos.min.js' %}"></script>
<!--=== jquery Tilt Animation Js ===-->
<script src="{% static 'assets/js/tilt-animation.js' %}"></script>
<!--=== jquery Scene Mouse Move Min Js ===-->
<script src="{% static 'assets/js/parallax.min.js' %}"></script>
<!--=== jquery Slicknav Js ===-->
<script src="{% static 'assets/js/jquery.slicknav.js' %}"></script>
<!--=== jquery Counterup Js ===-->
<script src="{% static 'assets/js/counterup.js' %}"></script>
<!--=== jquery Waypoint Js ===-->
<script src="{% static 'assets/js/waypoint.js' %}"></script>
<!--=== jquery Wow Min Js ===-->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!--=== jQuery EasyPieChart Min Js ===-->
<script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>

<!--=== Custom Js ===-->
<script src="{% static 'assets/js/custom.js' %}"></script>


</body>

</html>