{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<main class="main-content site-wrapper-reveal">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area" data-bg-img="{% static 'assets/img/blog/ngoo.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content text-center">
              <h2 class="title text-white">Become Volunteer</h2>
              <div class="bread-crumbs"><a href="index.html">Home<span class="breadcrumb-sep">//</span></a><span class="active">Pages</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Volunteer Form Area ==-->
    <section class="volunteer-form-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="volunteer-form">
              <div class="section-title">
                <h5 class="subtitle">Join With Us</h5>
                <h2 class="title">If You Interest! You Can Join With Us <span>As A Volunteer.</span></h2>
                 </div>
              <form class="volunteer-form-wrapper" id="contact-form"  method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row row-gutter-20">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-control" type="text" name="name" placeholder="Name">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-control" type="text" name="phone_number" placeholder="Phone">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-control" type="email" name="email" placeholder="Email">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-control" type="text" name="age" placeholder="Age">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-control" type="text" name="address" placeholder="Address">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-control" type="text" name="skills" placeholder="Skills">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group mb-0">
                          <textarea class="form-control textarea" id="id_message" name="message" placeholder="Message"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12" id="success-message" style="color: green; margin-top: 10px; font-size: 16px;">
                        
                      </div>


                      <div class="col-md-12">
                        <div class="form-group mb-0">
                          <button id="submit-button" class="btn-theme btn-gradient btn-slide no-border" type="submit">Submit Now</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          
          </div>
        </div>
      </div>
    </section>
    <!--== End Volunteer Form Area ==-->

    <!--== Start Team Area ==-->
    <section class="team-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 m-auto">
            <div class="section-title text-center">
              <h5 class="subtitle line-theme-color mb-7">Volunteer Team</h5>
              <h2 class="title title-style">Talented Volunteer Team of Givest. <img class="img-shape" src="{% static 'assets/img/shape/3.png' %}" alt="Image-Givest"></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="team-member-items">
              <div class="row">
                <div class="col-sm-6 col-lg-4">
                  <div class="team-member">
                    <div class="thumb">
                      <img src="{% static 'assets/img/team/1.jpg' %}" alt="Image">
                      <div class="social-icons">
                        <a href="#"><i class="icofont-facebook"></i></a>
                        <a href="#"><i class="icofont-skype"></i></a>
                        <a href="#"><i class="icofont-twitter"></i></a> 
                      </div>
                    </div>
                    <div class="content">
                      <div class="member-info">
                        <h4 class="name"><a href="#/">Harvey Harrington</a></h4>
                        <h6 class="designation">Senior Volunteer</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="team-member">
                    <div class="thumb">
                      <img src="{% static 'assets/img/team/2.jpg' %}" alt="Image">
                      <div class="social-icons">
                        <a href="#"><i class="icofont-facebook"></i></a>
                        <a href="#"><i class="icofont-skype"></i></a>
                        <a href="#"><i class="icofont-twitter"></i></a> 
                      </div>
                    </div>
                    <div class="content">
                      <div class="member-info">
                        <h4 class="name"><a href="#/">Alejandra Bobbitt</a></h4>
                        <h6 class="designation">Senior Volunteer</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="team-member">
                    <div class="thumb">
                      <img src="{% static 'assets/img/team/3.jpg' %}" alt="Image">
                      <div class="social-icons">
                        <a href="#"><i class="icofont-facebook"></i></a>
                        <a href="#"><i class="icofont-skype"></i></a>
                        <a href="#"><i class="icofont-twitter"></i></a> 
                      </div>
                    </div>
                    <div class="content">
                      <div class="member-info">
                        <h4 class="name"><a href="#/">Sherika Hankins</a></h4>
                        <h6 class="designation">Senior Volunteer</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="team-member">
                    <div class="thumb">
                      <img src="{% static 'assets/img/team/4.jpg' %}" alt="Image">
                      <div class="social-icons">
                        <a href="#"><i class="icofont-facebook"></i></a>
                        <a href="#"><i class="icofont-skype"></i></a>
                        <a href="#"><i class="icofont-twitter"></i></a> 
                      </div>
                    </div>
                    <div class="content">
                      <div class="member-info">
                        <h4 class="name"><a href="#/">Destiny Kendall</a></h4>
                        <h6 class="designation">Senior Volunteer</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="team-member">
                    <div class="thumb">
                      <img src="{% static 'assets/img/team/5.jpg' %}" alt="Image">
                      <div class="social-icons">
                        <a href="#"><i class="icofont-facebook"></i></a>
                        <a href="#"><i class="icofont-skype"></i></a>
                        <a href="#"><i class="icofont-twitter"></i></a> 
                      </div>
                    </div>
                    <div class="content">
                      <div class="member-info">
                        <h4 class="name"><a href="#/">Marleen Larry</a></h4>
                        <h6 class="designation">Senior Volunteer</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="team-member">
                    <div class="thumb">
                      <img src="{% static 'assets/img/team/6.jpg' %}" alt="Image">
                      <div class="social-icons">
                        <a href="#"><i class="icofont-facebook"></i></a>
                        <a href="#"><i class="icofont-skype"></i></a>
                        <a href="#"><i class="icofont-twitter"></i></a> 
                      </div>
                    </div>
                    <div class="content">
                      <div class="member-info">
                        <h4 class="name"><a href="#/">Sherika Hankins</a></h4>
                        <h6 class="designation">Senior Volunteer</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Team Area ==-->

    <!--== Start Funfact Area ==-->
    <section class="funfact-area funfact-default-area">
      <div class="container">
        <div class="row row-gutter-0 funfact-items-style1">
          <div class="col-lg-4 funfact-item">
            <div class="inner-content">
              <div class="icon-box">
                <img class="icon" src="{% static 'assets/img/icons/f1.png' %}" alt="Image-Givest">
                <img class="shape-img" src="{% static 'assets/img/shape/4.png' %}" alt="Image-Givest">
              </div>
              <div class="content">
                <div class="number">
                  <h2><span class="counter-animate">598</span>K</h2>
                </div>
                <img class="line-shape" src="{% static 'assets/img/shape/funfact-line1.png' %}" alt="Image-Givest">
                <p class="title">// Poor People</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 funfact-item">
            <div class="inner-content">
              <div class="icon-box">
                <img class="icon" src="{% static 'assets/img/icons/f2.png' %}" alt="Image-Givest">
                <img class="shape-img" src="{% static 'assets/img/shape/4.png' %}" alt="Image-Givest">
              </div>
              <div class="content">
                <div class="number">
                  <h2><span class="counter-animate">897</span>M</h2>
                </div>
                <img class="line-shape" src="{% static 'assets/img/shape/funfact-line1.png' %}" alt="Image-Givest">
                <p class="title">// Fund raised</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 funfact-item">
            <div class="inner-content">
              <div class="icon-box">
                <img class="icon" src="{% static 'assets/img/icons/f3.png' %}" alt="Image-Givest">
                <img class="shape-img" src="{% static 'assets/img/shape/4.png' %}" alt="Image-Givest">
              </div>
              <div class="content">
                <div class="number">
                  <h2><span class="counter-animate">998</span>+</h2>
                </div>
                <img class="line-shape" src="{% static 'assets/img/shape/funfact-line1.png' %}" alt="Image-Givest">
                <p class="title">// Active Member</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Funfact Area ==-->

    <!--== Start Brand Logo Area ==-->
    <section class="brand-logo-area brand-logo-default-area">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-4 offset-lg-0 col-xl-4">
            <div class="section-title text-center text-lg-start">
              <h2 class="title title-style mt-xl-30">Our Current Sponsors. <img class="img-shape" src="{% static 'assets/img/shape/3.png' %}" alt="Image-Givest"></h2>
            </div>
          </div>
          <div class="col-lg-8 col-xl-7 offset-xl-1">
            <div class="brand-logo-content">
              <div class="row row-cols-3 row-cols-sm-5">
                <div class="col">
                  <div class="brand-logo-item">
                    <img src="{% static 'assets/img/brand-logo/1.png' %}" alt="Image-Givest">
                  </div>
                </div>
                <div class="col">
                  <div class="brand-logo-item">
                    <img src="{% static 'assets/img/brand-logo/2.png' %}" alt="Image-Givest">
                  </div>
                </div>
                <div class="col">
                  <div class="brand-logo-item">
                    <img src="{% static 'assets/img/brand-logo/3.png' %}" alt="Image-Givest">
                  </div>
                </div>
                <div class="col">
                  <div class="brand-logo-item">
                    <img src="{% static 'assets/img/brand-logo/4.png' %}" alt="Image-Givest">
                  </div>
                </div>
                <div class="col">
                  <div class="brand-logo-item">
                    <img src="{% static 'assets/img/brand-logo/5.png' %}" alt="Image-Givest">
                  </div>
                </div>
                <div class="col">
                  <div class="brand-logo-item">
                    <img src="{% static 'assets/img/brand-logo/6.png' %}" alt="Image-Givest">
                  </div>
                </div>
                <div class="col">
                  <div class="brand-logo-item">
                    <img src="{% static 'assets/img/brand-logo/7.png' %}" alt="Image-Givest">
                  </div>
                </div>
                <div class="col">
                  <div class="brand-logo-item">
                    <img src="{% static 'assets/img/brand-logo/8.png' %}" alt="Image-Givest">
                  </div>
                </div>
                <div class="col">
                  <div class="brand-logo-item">
                    <img src="{% static 'assets/img/brand-logo/9.png' %}" alt="Image-Givest">
                  </div>
                </div>
                <div class="col">
                  <div class="brand-logo-item">
                    <img src="{% static 'assets/img/brand-logo/10.png' %}" alt="Image-Givest">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Brand Logo Area ==-->
  </main>


{% endblock %}